@font-face{

font-family: 'HeliosExtBlack-Italic';

src: url('fonts/HeliosExtBlack-Italic.eot');

src: url('fonts/HeliosExtBlack-Italic.eot?#iefix') format('eot'),

url('fonts/HeliosExtBlack-Italic.woff') format('woff'),

url('fonts/heliosextblack-italic-webfont.woff2') format('woff2'),

url('fonts/HeliosExtBlack-Italic.ttf') format('truetype'),

url('fonts/HeliosExtBlack-Italic.svg#webfont') format('svg');

font-weight: normal;

font-style: normal;

}

@font-face{

font-family: 'FuturisXCondC';

src: url('fonts/FuturisXCondC.eot');

src: url('fonts/FuturisXCondC.eot?#iefix') format('eot'),

url('fonts/FuturisXCondC.woff') format('woff'),

url('fonts/FuturisXCondC.ttf') format('truetype'),

url('fonts/FuturisXCondC.svg#webfont') format('svg');

font-weight: normal;

font-style: normal;

}

@font-face{

font-family: 'Myriad Pro Cond';

src: url('fonts/Myriad Pro Cond.eot');

src: url('fonts/Myriad Pro Cond.eot?#iefix') format('eot'),

url('fonts/Myriad Pro Cond.woff') format('woff'),

url('fonts/Myriad Pro Cond.ttf') format('truetype'),

url('fonts/Myriad Pro Cond.svg#webfont') format('svg');

font-weight: normal;

font-style: normal;

}


@font-face{

font-family: 'Myriad pro';

src: url('fonts/Myriad pro.eot');

src: url('fonts/Myriad pro.eot?#iefix') format('eot'),

url('fonts/Myriad pro.woff') format('woff'),

url('fonts/Myriad pro.ttf') format('truetype'),

url('fonts/Myriad pro.svg#webfont') format('svg');

font-weight: normal;

font-style: normal;

}

@font-face{

font-family: 'MyriadPro-Regular';

src: url('fonts/MyriadPro-Regular.eot');

src: url('fonts/MyriadPro-Regular.eot?#iefix') format('eot'),

url('fonts/MyriadPro-Regular.woff') format('woff'),

url('fonts/MyriadPro-Regular.ttf') format('truetype'),

url('fonts/MyriadPro-Regular.svg#webfont') format('svg');

font-weight: normal;

font-style: normal;

}

@font-face{

font-family: 'Noteworthy-Light';

src: url('fonts/Noteworthy-Light.eot');

src: url('fonts/Noteworthy-Light.eot?#iefix') format('eot'),

url('fonts/Noteworthy-Light.woff') format('woff'),

url('fonts/noteworthy-light-webfont.woff2') format('woff2'),

url('fonts/Noteworthy-Light.ttf') format('truetype'),

url('fonts/Noteworthy-Light.svg#webfont') format('svg');

font-weight: normal;

font-style: normal;

}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/Open Sans.ttf') format("truetype");
font-weight: normal;

font-style: normal;

}

@font-face {
  font-family: 'Open Sans Bold';
  src: url('fonts/Open Sans Bold.ttf') format("truetype");
font-weight: normal;
font-style: normal;
}

@font-face{

font-family: 'Noteworthy-Bold';

src: url('fonts/Noteworthy-Bold.eot');

src: url('fonts/Noteworthy-Bold.eot?#iefix') format('eot'),

url('fonts/Noteworthy-Bold.woff') format('woff'),

url('fonts/Noteworthy-Bold.ttf') format('truetype'),

url('fonts/Noteworthy-Bold.svg#webfont') format('svg');

font-weight: normal;

font-style: normal;

}
.row {
    padding: 0;
    margin: 0;
}

.header .row {
    /*position: relative;
    height: 625px;*/
    background: linear-gradient( to bottom,
    #d9d9da,
    #d9d9da 50%,
    #aa0918 50%,
    #aa0918);
    background-size: 4.7em 4.7em;
    z-index: 1;
}
.slider-ruls {
    background: linear-gradient( to bottom,
    #EAF5FC,
    #EAF5FC 50%,
    #ffffff 50%,
    #ffffff);
    background-size: 4.7em 4.7em;
    padding-top: 100px;
}

.history {
    background: linear-gradient( to bottom,
    #ffffff,
    #ffffff 50%,
    #E1DFCC 50%,
    #E1DFCC);
    background-size: 4.7em 4.7em;
    padding-top: 100px;
    padding-bottom: 93px;
}

.history-content {
    font-size: 24.1px;
    font-family: 'Noteworthy-Bold';
    color: #000;
    padding-right: 5px;
}

.big-red-text{
    text-transform: uppercase;
}
.history-content span {
    color: #C1001F;
}

.img-table {
    position: absolute;
    left: 40px;
    top: 10px;
    z-index: 2;
}

.form-header {
    width: 100%;
    height: 655px;
    background: #707174;
}

.form-header p {
    font-size: 64px;
    font-family: 'Open Sans Bold';
    text-align: center;
    color: #b1b2b5;
    margin: 0;
}

.stock-info {
    position: absolute;
    text-align: center;
    width: 310px;
    height: 345px;
    top: 310px;
    background: white;
    z-index: 3;
}

.stock-info .big-info {
    background: #e3001c;
    font-family: 'Open Sans Bold';
    color: white;
    font-size: 70px;
    margin: 0;
    padding: 0;
    line-height: 1.19;
}

.stock-info span {
    font-size: 125%;
    color: #010001;
    line-height: 1.3;
}

.big-info-2{
    font-size: 32px;
    padding-top: 10px;
    margin-bottom: 0; 
}

.big-info-3 {
    padding: 0px;
    font-size: 32px;
    margin-bottom: 0; 
    font-family: 'Noteworthy-Bold';
    font-weight: bold;
}

.stock-info .full-info {
    padding-bottom: 1em;
    font-family: 'Noteworthy-Light';
    font-size: 21px;
}


.textbox {
    display: inline-block;
    width: 310px;
    margin-bottom: 25px;
    height: 45px;
    background: #b2b3b6;
    font-size: 30px;
    text-align: center;
    color: #696a6d;
}

.textbox1 {
    display: inline-block;
    width: 310px;
    margin-bottom: 10px;
    height: 45px;
    background: #b2b3b6;
    font-size: 30px;
    text-align: center;
    color: #696a6d;
}

.button {
    display: inline-block;
    height: 196px;
    width: 196px;
    border: #e3001c solid 75px;
    border-radius: 50%;
    vertical-align: middle;
    margin-top: 20px;
    background: #707174;
}

.form-header form p {
    color: white;
    font-family: 'MyriadPro-Regular';
    font-weight: 300;
    font-size: 33px;
    line-height: 15px;
    padding-top: 15px;
}

.form-header span {
    font-size: 35px;
    color: #9d9ea1;
}

.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
    padding: 0;
}

.navbar {
    margin: 0;
}

.catalog {
    padding: 100px;
}

.title-price {
    font-size: 29px;
    font-family: 'Noteworthy-Bold';
    color: #000;
    margin: 0;
}

.product-info {
    font-size: 21px;
    line-height: .7;
    font-family: 'Noteworthy-Light';
    /*font-weight: bold;*/
    color: #000;
}

.price-info {
    font-size: 26px;
    padding-top: 15px;
    font-family: 'Noteworthy-Bold';
    color: #000;
}

.price-info-1 {
    font-size: 26px;
    padding-top: 39px;
    font-family: 'Noteworthy-Bold';
    color: #000;
}

.price-info-2 {
    font-size: 26px;
    padding-top: 88px;
    font-family: 'Noteworthy-Bold';
    color: #000;
}

.text-footer {
    font-family: 'Noteworthy-Light';
    font-weight: bold;
    font-size: 25px;
    color: #1F1E21;
}

.text-footer p {
    /*font-size: 125%;*/
    line-height: .8;
}

.text-footer span {
    color: #C1001F;
}

.footer-img img {
    width: 450px
}

.title-slider {
    text-align: center;
    font-size: 35px;
    padding: 25px;
}

.slider-footer{
    padding: 26px 0 76px 0;
}
.title-history {
    text-align: center;
    font-size: 35px;
    padding: 25px;
}

img {
    max-width: 100%;
    height: auto;
}

.panel {
    text-align: center;
    margin-right: 10px;
    border-radius: 0;
}

.panel-1 {
    text-align: center;
    background-color: #fff;
    border: 1px solid transparent;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.download-rules {
    text-align: center;
}

.footer {
    text-align: center;
}

.navbar-brand-new img {
    padding-top: 20px;
    padding-bottom: 10px;
}

.navbar-header p {
    margin: 0;
}

.navbar-default {
    background: white;
}

nav ul>li {
    position: relative;
    display: inline-block;
    height: 107px;
    width: 107px;
    border: #ff1a48 solid 10px;
    border-radius: 50%;
    margin-left: 15px;
    vertical-align: middle;
    margin-top: 60px;
    padding-left: -25px;
}

nav ul>li:nth-of-type(1) {
    border: #000 solid 40px;
    color: #000000;
}

nav ul>li:nth-of-type(1):hover a {
    color: #000;
}

nav ul>li:nth-of-type(2) {
    border: #C1001F solid 40px;
}

nav ul>li:nth-of-type(2):hover a {
    color: #C1001F;
}

nav ul>li:nth-of-type(3) {
    border: #009CDD solid 40px;
}

nav ul>li:nth-of-type(3):hover a {
    color: #009CDD;
}

nav ul>li:nth-of-type(4) {
    border: #FFEC00 solid 40px;
}

nav ul>li:nth-of-type(4):hover a {
    color: #FFEC00;
}

nav ul>li:nth-of-type(5) {
    border: #6F9346 solid 40px;
}

nav ul>li:nth-of-type(5):hover a {
    color: #6F9346;
}

nav ul>li:nth-of-type(6) {
    border: #868789 solid 40px;
}

nav ul>li:nth-of-type(6):hover a {
    color: #868789;
}

nav ul>li:hover {
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);*/
    cursor: pointer;
}

nav ul li a {
    position: absolute;
    font-family: 'Noteworthy-Light';
    text-decoration: none;
    color: #000000;
    /*font-weight: 600;*/
    font-size: 24px;
    width: 160px;
    top: 65px;
    left: -35px;
}

.nav>li>a {
    padding: 15px 5px 0 3px;
}

.button-catalog {
    position: absolute;
    left: -29px;
}

.button-foto{
    position: absolute;
    left: -28px;
}

.button-ruls{
   position: absolute;
    left: -32px;
}

.button-history{
   position: absolute;
    left: -31px;
}

.button-reviews{
    position: absolute;
    left: -29px;
}

.button-contact{
    position: absolute;
    left: -36px;
}
.navbar-default .navbar-nav>li>a{
    color: #000;
}
.buttom-catalog{
    padding-left: 10px; 
}
.telephone-number p {
    /*padding: 10px 0 0 20px;*/
    padding: 0;
    margin: 0;
    font-size: 290%;
    color: #717275;
    font-family: 'Myriad pro';
}

.body-gradient {
    background: linear-gradient(transparent 50%, white 50%);
    background-size: 4.7em 4.7em;
    background-color: #d9d9da;
}

.base-price {
    position: absolute;
    background: #9d9ea1;
    width: 190px;
    top: 597px;
    left: 250px;
    z-index: 4;
}

.discount-price {
    position: absolute;
    background: #e3001c;
    width: 340px;
    top: 552px;
    left: 440px;
    z-index: 4;
}

.img-rules {
    text-align: right;
}

.img-rules img {
    padding-top: 5px;
}

.rules-button {
    text-align: left;
}

.rules-button span {
    display: inline-block;
    height: 90px;
    width: 90px;
    border: #C1001F solid 32px;
    border-radius: 50%;
    margin-left: 20px;
    vertical-align: middle;
}

.rules-m {
    display: inline-block;
    text-align: center;
}

.rules-m p {
    padding-left: 24px;
    font-family: 'Noteworthy-Bold';
    font-size: 27px;
    text-align: center;
    color: #000;
    line-height: 1;
}

.rules-k p {
    padding-left: 25px;
    font-family: 'Noteworthy-Bold';
    font-size: 27px;
    text-align: center;
    color: #000;
    line-height: 1;
}

.rules-k {
    display: inline-block;
    margin-left: 30px;
    text-align: center;
}

.rules-title {
    font-size: 27px;
    font-family: 'Noteworthy-Bold';
    margin: 0 20px 0 0;
    color: #000;
    margin-left: 35px;
}

.rules-title p{
    margin: 0;

}

.contact {
    margin-top: 20px;
}

.contact-info {
    font-family: 'Noteworthy-Light';
    font-weight: bold;
    font-size: 23px;
    color: #000;
}

.form-footer{
    width: 246px;
    background: #707174;
    text-align: center;
    float: right;
}

.form-footer form p{
    line-height: .5;
    color: #ffffff;
    font-size: 27px;
}

.form-footer .form-footer-h1{
    /*line-height: .4;*/
    color: #B0B1B3;
    font-size: 42px;
    margin: 0;
}

.button-2 {
    display: inline-block;
    height: 154px;
    width: 154px;
    border: #e3001c solid 58px;
    border-radius: 50%;
    vertical-align: middle;
    margin: 3px 0 10px 0;
    background: #707174;
    text-align: center;
}


.textbox2 {
    display: inline-block;
    width: 218px;
    font-family: 'Myriad pro';
    margin-bottom: 21px;
    height: 30px;
    background: #b2b3b6;
    font-size: 21px;
    text-align: center;
    color: #696a6d;
}

.textbox3 {
    display: inline-block;
    width: 218px;
    font-family: 'Myriad pro';
    margin-bottom: 10px;
    height: 30px;
    background: #b2b3b6;
    font-size: 21px;
    text-align: center;
    color: #696a6d;
}

.contact-info span {
    color: #e1001c;
}

.container {
    padding-left: 0;
    padding-right: 0;
    max-width: 1200px;
}

.simple-billiards{
    font-family: 'FuturisXCondC';
    font-size: 35px;
    float: left;
    padding-right: 5px; 
    text-transform: uppercase;
    color: #707072;
}

.text-myriad{
    font-family: 'Myriad Pro Cond';
    float: left;
    padding-right: 2px; 
    font-size: 22.5px;
    color: #9B9C9E;
    line-height: .6   
}

.simple-billiards-red{
    font-family: 'FuturisXCondC';
    font-size: 35px;
    color: #C1001F;
}

.simple-billiards-mini{
    font-family: 'FuturisXCondC';
    font-size: 25.2px;
    float: left;
    padding-right: 8px; 
    color: #868789;
    text-transform: uppercase;
    line-height: .6;
    text-align: justify;
}

.text-myriad-mini{
    font-family: 'Myriad Pro Cond';
    float: left;
    padding-right: 2px; 
    font-size: 24px;
    color: #9B9C9E;
    line-height: .6;
    text-align: justify;   
}

.text-myriad-mini-2{
    font-family: 'Myriad Pro Cond';
    float: left;
    padding-right: 2px;
    letter-spacing: 0.9px; 
    font-size: 24px;
    color: #9B9C9E;
    line-height: .6;
    text-align: justify;   
}

.text-myriad-mini-3{
    font-family: 'Myriad Pro Cond';
    float: left;
    padding-right: 2px;
    letter-spacing: 0.95px; 
    font-size: 24px;
    color: #9B9C9E;
    line-height: .6;
    text-align: justify;   
}

.text-myriad-mini-4{
    font-family: 'Myriad Pro Cond';
    float: left;
    padding-right: 2px;
    letter-spacing: 1px; 
    font-size: 24px;
    color: #9B9C9E;
    line-height: .6;
    text-align: justify;   
}

.simple-billiards-mini-2{
    font-family: 'FuturisXCondC';
    font-size: 25.2px;
    float: left;
    padding-right: 8px; 
    color: #868789;
    text-transform: uppercase;
    line-height: .6;
    clear: both;
    text-align: justify;  
}

.simple-billiards-mini-3{
    font-family: 'FuturisXCondC';
    font-size: 25.2px;
    float: left;
    padding-right: 8px; 
    color: #868789;
    text-transform: uppercase;
    line-height: .6;
    clear: both;
    text-align: justify;  
}
.simple-billiards-mini-4{
    font-family: 'FuturisXCondC';
    font-size: 25.2px;
    float: left;
    padding-right: 8px; 
    color: #868789;
    text-transform: uppercase;
    line-height: .6;
    clear: both;
    text-align: justify;  
}
.simple-billiards-mini-5{
    font-family: 'FuturisXCondC';
    font-size: 25.2px;
    float: left;
    padding-right: 8px;  
    color: #868789;
    text-transform: uppercase;
    line-height: .6;
    clear: both;
    text-align: justify;  
}

.simple-billiards-mini-6{
    font-family: 'FuturisXCondC';
    font-size: 41.2px;
    background: #C1001F;
    float: left;
    padding: 8px 8px 3px 7px; 
    color: #ffffff;
    text-transform: uppercase;
    clear: both; 
    letter-spacing: 0.5px;
}

.simple-billiards-mini-7{
    font-family: 'FuturisXCondC';
    font-size: 54.2px;
    float: left;
    padding-right: 12px;  
    color: #000000;
    text-transform: uppercase;
    line-height: .6;
    clear: both;
    text-align: justify;  
}

.simple-billiards-mini-8{
    font-family: 'FuturisXCondC';
    font-size: 28.5px;
    float: left;
    padding-right: 8px;  
    color: #868789;
    text-transform: uppercase;
    line-height: .6;
    clear: both;
    text-align: justify;  
}

.simple-billiards-mini-9{
    font-family: 'FuturisXCondC';
    font-size: 32.5px;
    float: left;
    padding-right: 8px;  
    color: #C1001F;
    text-transform: uppercase;
    line-height: .6;
    clear: both;
    text-align: justify;  
}

.simple-billiards-mini-10{
    font-family: 'Myriad Pro Cond';
    font-size: 24.5px;
    float: left;
    padding-right: 8px;  
    color: #000000;
    line-height: .3;
    clear: both;
}

.simple-billiards-mini-11{
    font-family: 'Myriad Pro Cond';
    font-size: 24.5px;
    float: left;
    padding-right: 8px;  
    color: #000000;
    line-height: .8;
}

.simple-billiards-mini-12{
    font-family: 'FuturisXCondC';
    font-size: 28.5px;
    float: left;
    padding-right: 2px;  
    color: #868789;
    text-transform: uppercase;
    line-height: .6;
    clear: both;
}

.simple-billiards-mini-13{
    font-family: 'FuturisXCondC';
    font-size: 25.2px;
    float: left;
    letter-spacing: 1.5px;
    /*padding-right: 8px; */ 
    color: #868789;
    text-transform: uppercase;
    line-height: 2;
    margin-bottom: 0;
}

.simple-billiards-mini-14{
    font-family: 'FuturisXCondC';
    font-size: 25.2px;
    letter-spacing: 1.5px;
    float: left;
    /*padding-right: 8px; */ 
    color: #868789;
    text-transform: uppercase;
    line-height: .2;
}

.simple-billiards-mini-15{
    font-family: 'FuturisXCondC';
    font-size: 25.2px;
    letter-spacing: 1px;
    float: left;
    /*padding-right: 8px; */ 
    color: #868789;
    text-transform: uppercase;
    line-height: 1.2;
}

.simple-billiards-mini-16{
    font-family: 'FuturisXCondC';
    font-size: 34.5px;
    float: left;
    padding-right: 8px; 
    letter-spacing: 2.4px; 
    color: #C1001F;
    text-transform: uppercase;
    line-height: .2;
    clear: both;
    text-align: justify;  
}

.simple-billiards-mini-17{
    font-family: 'FuturisXCondC';
    font-size: 40.5px;
    float: left;
    padding-right: 8px; 
    /*letter-spacing: .1px;*/ 
    color: #C1001F;
    text-transform: uppercase;
    line-height: .9;
    clear: both;
    text-align: justify;  
}

.simple-billiards-mini-18{
    font-family: 'FuturisXCondC';
    font-size: 25.2px;
    letter-spacing: 1px;
    padding-bottom: 43px; 
    color: #000000;
    text-transform: uppercase;
    line-height: .2;
    clear: both;
    text-align: center;
}
.contact-history{
    line-height: 1;
}
/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 1024px) {
    .container {
        max-width: 100%;
        padding: 0;
        margin: 0;
        width: auto;
    }

    .info-header .img-table {
        position: static;
        z-index: 1;
    }

    .base-price {
        width: 190px;
        top: 564px;
        left: 230px;
    }

    .discount-price {
        width: 262px;
        top: 543px;
        left: 420px;
    }
}



/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
    .panel {
        max-width: 100%;
        margin-right: 0px;
    }
    .container {
        max-width: 100%;
        padding: 0;
        margin: 0;
        width: auto;
    }

    .info-header .img-table {
        position: static;
        z-index: 1;
    }

    .base-price {
        width: 190px;
        top: 564px;
        left: 230px;
    }

    .discount-price {
        width: 348px;
        top: 517px;
        left: 420px;
    }
/*    .header .row {
    position: static;
    height: 625px;
}*/
}


/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    .panel {
        max-width: 100%;
        margin-right: 0px;
    }

    .container {
        max-width: 100%;
        padding: 0;
        margin: 0;
        width: 768px;
    }

    .info-header .img-table {
        position: static;
        margin-top: 30px;
        z-index: 1;
    }

    .history-content {
        font-size: 130%;

    }

    .text-footer p {
        line-height: 1;
    }
}

@media only screen and (max-width: 600px) {
    .panel {
        max-width: 100%;
    }
    .container {
        padding: 0;
        margin-right: 0px;
    }

    .info-header .img-table {
        position: static;
        margin-top: 30px;
        z-index: 1;
    }

    .base-price {
        width: 174px;
        top: 498px;
        left: 280px;
    }

    .discount-price {
        width: 230px;
        top: 554px;
        left: 224px;
        z-index: 4;
    }

    .history-content {
        font-size: 130%;
    }

    .text-footer p {
        line-height: 1;
    }
    .info-header{
       height: 700px;
    }
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
    .container {
        padding: 0;
    }

    .panel {
        max-width: 100%;
        margin-right: 0px;
    }

    .info-header .img-table {
        position: static;
        margin-top: 30px;
        z-index: 1;
    }

    .base-price {
        width: 100px;
        top: 545px;
        left: 275px;
    }

    .discount-price {
        width: 150px;
        top: 578px;
        left: 224px;
        z-index: 4;
    }

    .history-content {
        font-size: 130%;
    }

    .text-footer p {
        line-height: 1;
    }

    .info-header{
       height: 700px;
    }

}

@media only screen and (max-width: 375px) {
    .container {
        padding: 0;
    }

    .panel {
        max-width: 100%;
        margin-right: 0px;
    }

    .info-header .img-table {
        position: static;
        margin-top: 30px;
        z-index: 1;
    }

    .base-price {
        width: 95px;
        top: 547px;
        left: 280px;
    }

    .discount-price {
        width: 150px;
        top: 578px;
        left: 225px;
        z-index: 4;
    }

    .history-content {
        font-size: 130%;
    }

    .text-footer p {
        line-height: 1;
    }
    .info-header{
       height: 700px;
    }
}

@media only screen and (max-width: 360px) {
    .container {
        padding: 0;
    }

    .panel {
        max-width: 100%;
        margin-right: 0px;
    }

    .info-header .img-table {
        position: static;
        margin-top: 30px;
        z-index: 1;
    }

    .base-price {
        width: 80px;
        top: 547px;
        left: 280px;
    }

    .discount-price {
        width: 135px;
        top: 578px;
        left: 225px;
        z-index: 4;
    }

    .history-content {
        font-size: 130%;
    }

    .text-footer p {
        line-height: 1;
    }
}